vim/plugged
vim/.netrwhist
.directory
tags

config/mpd/*
!config/mpd/mpd.conf

config/ncmpcpp/*
!config/ncmpcpp/config
!config/ncmpcpp/bindings

config/ranger/*
!config/ranger/rc.conf
.aider*

emacs/auto-save-list/*
emacs/eln-cache/*
emacs/elpa/*
emacs/history
emacs/places
emacs/projects
emacs/recentf
emacs/transient/*
emacs/url/*
emacs/eshell
emacs/tree-sitter
